@use "sass:map"

@import 'variables.module.sass'
$header-height: 512px // 16*32
$content-width: 1280px 



    
.card
    height: auto
    margin-bottom: 4em
    color: var(--color-grey-darker)
    header
        width: 100%
        height: map.get($heights, "home-header")
        max-width: $content-width
        border-radius: 0.2em
        align-items: center
        justify-content: flex-end
        flex-direction: column
        display: flex
        word-spacing: 0.2em
        position: relative
        overflow: hidden
        margin-bottom: 0.6em
        .load
            width: 100%
            height: 100%
            position: absolute
            background-size: 100%
            background-repeat: no-repeat
            background-position: center
            display: flex
            justify-self: center
            align-self: center
            opacity: 0
            animation: fadeInFromNone 10s ease-in-out 0s
            z-index: 9

        > div
            display: flex !important
            justify-content: center
            align-items: center
            width: 80% !important
            height: 100% !important
            img
                display: flex
                justify-self: center
                align-self: center
                width: 100% !important
                height: 100% !important
                position: relative !important
                z-index: 999
                min-width: auto !important
                min-height: auto !important
                animation: fadeInFromNone 1s linear 
        .right
            margin-left: 10em
    label
        font-family: var(--font-serif) 
        font-size:  clamp(0.95em, 1.6vw, 1.15em ) // clamp(MIN, VAL, MAX) 
        // font-style:  italic
        font-weight: 500
        letter-spacing: 0.015em
        // margin: 1.4em 0 0.4em
        -webkit-font-smoothing: auto
        color: var(--color-grey-darkest)
        word-spacing: 0.08em
        line-height: 2em

    label:before 
            position: relative
            content: "  "
            display: inline-flex
            width: 2em
            height: 0.08em
            margin-right: 1.2em
            bottom: 0.2em
            background-color: var(--color-grey)
    h3 
        font-family: var(--font-kabel) 
        font-size:  clamp(0.75em, 2.6vmin, 1.25em ) // clamp(MIN, VAL, MAX) 
        font-weight: 500
        -webkit-font-smoothing: antialiased
        letter-spacing: -0.015em
        word-spacing: 0.03em
        width: fit-content
        // white-space: nowrap
        position: relative
        padding-top: 0.3em
        padding-bottom: 0.6em
        &:after
            position: absolute
            content: " "
            display: flex
            width:  100%
            height: 1px
            align-self: center
            justify-self: center
            background-color: var(--color-grey)
            margin-top: 0.065em
            transition: opacity 0.2s
        // -webkit-font-smoothing: auto
    a
        color: var(--color-darkest)
        font-size:  1.6em
        letter-spacing: 0.005em
    h3:hover
        &:after
            opacity: 0
    

// exception 
.card:nth-child(2)
    header
        > div
            width: 120% !important
            img
                object-fit: contain
                object-position: 0 100%
.card:nth-child(3)
    > div
        width: 100% !important
        img
            height: calc($header-height) !important
            object-fit: contain

.card:nth-child(4)
    img
        max-width: calc($content-width * 1.2) !important
        object-fit: contain


@keyframes fadeInFromNone
    0% 
        opacity:0
        filter: blur(0.4em)
    10% 
        opacity: 0
    20%
        opacity: 0.1
        filter: blur(0.4em) brightness(0.5)
    30% 
        opacity: 0
    60%
        opacity: 0.4
        filter: blur(0.4em) brightness(0.6)
    70% 
        opacity: 0
    100%
        opacity: 0.8
        filter: blur(0.4em) brightness(0.7)