@use "sass:map"

@import 'variables.module.sass'
$header-height: 512px // 16*32
$content-width: 1280px 


@media (max-width: 768px)
    .card
        header
            width: map.get($m_widths, "home-header")
            height: map.get($m_heights, "home-header")
@media (min-width: 769px)
    .card
        header
            width: map.get($widths, "home-header")
            height: map.get($heights, "home-header")
    
.card
    height: auto
    margin-top: calc(2em + 3vmin)
    color: var(--color-grey-darker)
    width: 100%
    header
        max-width: 100%
        border-radius: 0.2em
        align-items: center
        justify-content: flex-end
        flex-direction: column
        display: flex
        word-spacing: 0.2em
        position: relative
        overflow: hidden
        margin-bottom: 1.4em
        .load
            width: 100%
            height: 100%
            position: absolute
            background-size: 100%
            background-repeat: no-repeat
            background-position: center
            display: flex
            justify-self: center
            align-self: center
            opacity: 0
            animation: fadeInFromNone 10s ease-in-out 0s
            z-index: 9

        > div
            display: flex !important
            justify-content: center
            align-items: center
            width: 80% !important
            height: 100% !important
            img
                display: flex
                justify-self: center
                align-self: center
                width: 100% !important
                height: 100% !important
                position: relative !important
                z-index: 999
                min-width: auto !important
                min-height: auto !important
                animation: fadeInFromNone 1s linear 
        .right
            margin-left: 10em
    label
        font-family: var(--font-serif) 
        font-size:  clamp(0.95em, 1.6vw, 1.16em ) // clamp(MIN, VAL, MAX) 
        // font-style:  italic
        font-weight: 500
        letter-spacing: 0.002em
        // margin: 1.4em 0 0.4em
        -webkit-font-smoothing: auto
        color: var(--color-grey-darkest)
        word-spacing: 0.03em
        line-height: 1.4em
        padding-left: 0.04em

    // label:before 
    //         position: relative
    //         content: "  "
    //         display: inline-flex
    //         width: calc(0.5em + 5vmin)
    //         height: 0.08em
    //         margin-right: calc(0.2em + 2vmin)
    //         bottom: 0.2em
    //         background-color: var(--color-grey)
    a.link_to_pages
        color: var(--color-darkest)
        letter-spacing: 0.005em
        display: flex
        width: 100%
        align-items: center
        justify-content: flex-start
        padding: 0.1em  0
        position: relative
        // background-image: linear-gradient( 120deg, var(--color-grey-lighter) 0%, var(--color-grey-lighter) 50%)
        // background-size: 0% 100%
        // background-position: 0.21em 50%
        // background-repeat: no-repeat
        border-radius: 0
        transition: all .35s ease-out
        align-self: start
        cursor: pointer
        overflow: hidden
        h3 
            display: flex
            width: fit-content
            position: relative
            font-family: var(--font-kabel) 
            font-size:  clamp(0.6em, 9vmin, 1.7em ) // clamp(MIN, VAL, MAX) 
            font-weight: 500
            -webkit-font-smoothing: antialiased
            letter-spacing: -0.02em
            // word-spacing: 0.03em
            line-height:1.6em
            background-image: linear-gradient( 120deg, var(--color-grey-dark) 0%, var(--color-grey-dark) 50%)
            background-size: 0% 0.0em
            background-position: 0em 100%
            background-repeat: no-repeat
            transition: background-size .55s ease-out
        &:after
            content: '→'
            position: relative
            font-size:  clamp(1.2em, 1.6vmin, 1.8em ) 
            display: flex
            // background-color:  var(--color-grey-darker)
            // width: 10px
            opacity: 0
            padding: 0 0 0 2.5em
            // right: 8em
            color: var(--color-grey-darker)
            transition: opacity 0.2s ease-in-out 0s, padding 0.25s ease-out 0s
        &:hover
            display: flex
            flex-direction: row
            align-items: center
            align-self: start
            // justify-content: center
            opacity:1
            // background-image: linear-gradient( 120deg, var(--color-white) 0%, var(--color-white) 50%)
            // background-size: 100% 100%
            // background-position: 0 0
            border-radius: 0.41em
            transition: background-size .55s ease-out
            h3
                background-size: calc(110% + 2.2em) 0.03em
                transition: background-size .2s ease-out 0.2s
            &:after
                padding: 0 0 0 3em
                display: flex
                // transition: opacity 0.15s ease-in-out 0s, right 0.15s ease-in-out 0.5s
                opacity: 1
                transition: opacity 0.3s ease-in-out 0.35s, padding 0.35s ease-out 0.4s
    

// exception 
.card:nth-child(2)
    header
        > div
            width: 120% !important
            img
                object-fit: contain
                object-position: 0 100%
.card:nth-child(3)
    > div
        width: 100% !important
        img
            height: calc($header-height) !important
            object-fit: contain

.card:nth-child(4)
    img
        max-width: calc($content-width * 1.2) !important
        object-fit: contain


@keyframes fadeInFromNone
    0% 
        opacity:0
        filter: blur(0.4em)
    10% 
        opacity: 0
    20%
        opacity: 0.1
        filter: blur(0.4em) brightness(0.5)
    30% 
        opacity: 0
    60%
        opacity: 0.4
        filter: blur(0.4em) brightness(0.6)
    70% 
        opacity: 0
    100%
        opacity: 0.8
        filter: blur(0.4em) brightness(0.7)