$header-height: 512px // 16*32
$content-width: 672px 
.card
    height: auto
    margin-bottom: 5em
    color: var(--color-grey-darker)
    header, a
        content-width: 672px 
    header
        height: $header-height
        border-radius: 0.3em
        margin: 1.2em 0
        align-items: center
        justify-content: flex-end
        flex-direction: column
        display: flex
        word-spacing: 0.2em
        .right
            margin-left: 10em
        img
            height: calc($header-height * 0.9) !important
            min-height: calc($header-height * 0.9) !important
    label
        font-family: var(--font-serif) 
        font-size:1.25em 
        // font-style:  italic
        font-weight: 500
        letter-spacing: 0.015em
        // margin: 1.4em 0 0.4em
        -webkit-font-smoothing: auto
        color: var(--color-grey-darkest)
        word-spacing: 0.08em
        line-height: 2em

    label:before 
            position: relative
            content: "  "
            display: inline-flex
            width: 2em
            height: 0.08em
            margin-right: 1.2em
            bottom: 0.2em
            background-color: var(--color-grey)
    h3,p
        font-family: var(--font-kabel) 
    h3 
        font-size:  1.2em
        font-weight: 900
        -webkit-font-smoothing: auto
        letter-spacing: 0.01em
    a
        color: var(--color-darkest)
        text-decoration: underline
        font-size:  1.6em
        letter-spacing: 0.005em
    p
        font-weight:400
        -webkit-font-smoothing: antialiased
        // -webkit-font-smoothing: auto

    

// exception 
.card:nth-child(1)
    img
        width: calc($content-width * 0.9  ) !important
        max-width: calc($content-width * 1.2 ) !important
        min-height: calc($header-height) !important
        object-fit: contain 
.card:nth-child(2)
    img
        width: calc($content-width * 1.2  ) !important
        max-width: calc($content-width *1.4 ) !important
        min-height: calc($header-height) !important
        object-fit: contain
        object-position: 0em 100%

.card:nth-child(3) 
    img
        min-width: calc($content-width * 0.5) !important
        width: calc($content-width * 1.3  ) !important
        height: calc($header-height) !important
        object-fit: contain

.card:nth-child(4)
    img
        min-width: calc($content-width * 0.5) !important
        width: calc($content-width * 0.9) !important
        max-width: calc($content-width * 1.2) !important
        object-fit: contain
        