@use "sass:map"

@import 'variables.module.sass'

html,
body
  padding: 0
  margin: 0
  font-family: var(--font-kabel)
  font-size: 16px
body,
body > div
  background: #ffffff
  width: 100vw
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 0
  margin: 0
 
a 
  // color: var(--color-magenta)
  text-decoration: none

* 
  box-sizing: border-box
  
main, section
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  margin: 0
  padding: 0


// @media (max-width: 768px)
// 	.page
// 		.footer
// 			height: map.get($m_heights, "home-header")
// 			width: 100%
// 			margin: calc(1em + 3vmin) 0
// 	.footer
// 		width: 100%
		
// @media (min-width: 769px)
// 	.page
// 		.footer
// 			height: map.get($heights, "home-header")
// 			width: 100%
// 			margin: calc(1em + 3vmin) 0
// 	.footer
// 		width: 100%
// 		height: map.get($heights, "home-header")
@media (max-width: 768px)
  main.home
    width: 90vw
  main.page
    width: 90vw
		
@media (min-width: 769px)
  main.home
    width: auto
  main.page
    width: map.get($widths, "page-image-content")
section
  width: 100%
  align-content: center

ul, li, p, a, label
  margin: 0
  padding: 0
  display: block

h1, h2, h3, h4, h5, h6
  margin: 0
  padding: 0
  line-height: 1.2em
  text-align: left

h1
  font-weight: 400
  font-family: var(--font-serif)

h2
  font-weight: 200
  font-family: var(--font-serif)

h3, h4, h5
  font-weight: 300
  font-family: var(--font-display)

h3
  text-align: left
  width: 100%

h4
  text-align: center
  font-size:  1.4em

ul
  list-style: none

p, a
  display: block
