.intro
	align-content: start
	justify-content: left
	header
		padding: 12em 0.2em 8em
		h1, h2
			font-size:  clamp(0.9em, 1.6vw, 2em ) // clamp(MIN, VAL, MAX) 
			font-weight: 500
			-webkit-font-smoothing: auto
			color: var(--color-grey-darkest)
			letter-spacing: 0.02em
			line-height: 1.5em
		h1
			margin-bottom: 2em
