$content-width: 672px //16*48
$header-height: 480px
  
section.job_page
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    font-size: 18px
    width: 100vw
    section
        width: 100vw
        align-items: center
        article
            height: auto
            width: $content-width
            color: var(--color-grey-darker)
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            > header
                position: relative
                margin: 0
            .content
                margin-bottom: 2.4em // margem entre os conteúdos
                width: calc($content-width)
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                h3
                    margin: 2.4em 0 0.6em
                    font-family: var(--font-display) 
                    font-size:  1.12em
                    font-weight: 600
                    letter-spacing: 0.05em
                    -webkit-font-smoothing: antialiased
                    line-height: 1.2em
                    color: var(--color-grey-darkest)
                p   
                    margin: 0.3em 0 
                    width: 100%
                    font-family: var(--font-text) 
                    font-size:  0.97em
                    font-weight: 500
                    letter-spacing: 0.03em
                    line-height: 1.85em
                    color: var(--color-grey-darker)
                blockquote
                    p
                        height: auto
                        position: relative
                        font-style: italic
                        color: var(--color-grey-darker)
                        -webkit-font-smoothing: antialiased
                    ::before
                        position: absolute
                        content: " "
                        display: inline-flex
                        width: 0.2em
                        height: 100%
                        left: -1.5em
                        background-color: var(--color-grey-light)
                > div.bg_content
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: center
                    border-radius: 0.3em
                    margin: 1em 0 2em
                    img
                        object-fit: contain

    .main_content
        div.bg_content
            width: calc($content-width * 1.4)
            height: calc($header-height * 1.3)
            img
                width: calc($content-width * 1.2 )
    .page_content
        div.bg_content
            width: calc($content-width * 1.3)
            height: calc($header-height * 1.3)
            img
                width: calc($content-width * 1.1)
    .header_content
        > header // hero
            margin-bottom: 6em
            .right
                margin-left: 10em
            img
                object-fit: contain
                height: $header-height
        article
            height: auto
            color: var(--color-grey-darker)
            width: $content-width
            h2 
                font-family: var(--font-serif) 
                font-size:  0.9em
                letter-spacing: 0.06em
                font-weight: 600
                color: var(--color-grey-darker)
            h1 
                font-family: var(--font-display) 
                font-size:  1.9em
                font-weight: 600
                letter-spacing: 0.02em
                -webkit-font-smoothing: antialiased
                line-height: 1.2em
                color: var(--color-grey-darkest)
                width: 100%
                margin-top: 0.6em
                margin-bottom: 1em
            aside
                font-family: var(--font-serif) 
                font-size: 1.1em
                font-style: italic
                font-weight: 500
                letter-spacing: 0.1em
                color: var(--color-grey-darker)
                position: absolute
                right: 0
                top: -0.2em